<%= form_with(model: rental, local: true) do |form| %>
  <% if rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :property, placeholder: 'Property Name' %>
  </div>

  <div class="field">
    <%= form.number_field :rent, placeholder: 'Rent' %>
  </div>

  <div class="field">
    <%= form.text_field :address, placeholder: 'Address' %>
  </div>

  <div class="field">
    <%= form.number_field :age, placeholder: 'Building Age' %>
  </div>

  <div class="field">
    <%= form.text_area :remarks, placeholder: 'Remarks' %>
  </div>

  <%= form.fields_for :stations do |station_form| %>
   <%= render "station_form", f: station_form %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
