<%= form_with(model: rental, local: true) do |form| %>
  <% if rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property %>
    <%= form.text_field :property %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.number_field :rent %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_area :remarks %>
  </div>

  <%= form.fields_for :stations do |station_form| %>
   <%= station_form.label :railway %>
   <%= station_form.text_field :railway %>
   <%= station_form.label :station_name %>
   <%= station_form.text_field :station_name %>
   <%= station_form.label :walking_time %>
   <%= station_form.number_field :walking_time %>
   <%= station_form.hidden_field :_destroy %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
