<h2>Name of Railway line <%= f.index+1 %></h2>
<div class="field">
  <%= f.text_field :railway, placeholder: 'Railway Line' %>
</div>
<div class="field">
  <%= f.text_field :station_name, placeholder: 'Closest Station' %>
</div>
<div class="field">
  <p><%= f.number_field :walking_time, placeholder:'Minutes to walk' %>min/mins</p>
</div>

<%= f.hidden_field :_destroy %>
