<p id="notice"><%= notice %></p>

<h1>Rentals</h1>

<table id="customers">
    <tr>
      <th>Name</th>
      <th>Rent</th>
      <th>Address</th>
      <th>Age</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.rental_name %></td>
        <td><%= rental.rent %></td>
        <td><%= rental.address %></td>
        <td><%= rental.age %></td>
        <td><%= rental.remark %></td>
        <td><%= link_to 'Show', rental %></td>
        <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
        <td><%= link_to 'Destroy', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Rental', new_rental_path %>

<footer>
  <p>Copyright: Edem 2021<br>
</footer>
