<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @rental.property %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @rental.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @rental.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @rental.age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @rental.remarks %>
</p>

<% @stations.each do |station| %>
<p>Line <%= station.railway %> </p>
<p>Station name: <%= station.station_name%></p>
<p>Walking distance: <%= station.walking_time%></p>
<% end %>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
